html {
	background:#505D6E url(/assets/images/metro_1.png) no-repeat center center fixed;
	min-height:100%;
	-webkit-background-size: cover;
	   -moz-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;
}

body {
	background:transparent;
	min-height:100%;
	mix-width:380px;
	-webkit-font-smoothing: antialiased;
	-webkit-overflow-scrolling: touch;
	line-height: 1.5em;
	font-size:14px;
	font-family: Helvetica, Arial, sans-serif;
	color:#fff;
	color:rgba(255,255,255,.8);
	font-weight: normal;
	overflow-x: hidden;

}
ol, ul{list-style: none;}

/**, *::before,*::after{
	box-sizing: content-box ;
}*/
/********************************************************/
/*                    Navigation bar                    */
/********************************************************/
.mainmenu {
	z-index: 999999; width:100%;  padding: 30px 0 0 0;
	position:fixed;
}

.mainmenu .gnb_menu{
	height:50px;
	width:100%;
	position:absolute;
	top:-200px;
}
.gnb_menu .menu{
	display: block;
	position: static;
    min-width: 160px;
    width:100%;
    padding:3px 0;
    margin: 0;
    font-size: 0;
    list-style: none;
    border: none;
    text-align:center;
    background-color: rgba(0,0,0,0.15);
    box-shadow: 0 6px 12px rgba(0,0,0,0.3);
}
.gnb_menu  ul li{
	padding: 3px 10px;
	display:inline-block;
	font-size: 14px;
	box-sizing: content-box;
	width:120px;
}


/*.gnb_menu  ul .bienvenu{
	width:80px;
}
.gnb_menu  ul .portfolio{
	width:120px;
}
.gnb_menu  ul .technique{
	width:130px;
}
.gnb_menu  ul .contact{
	width:120px;
}*/

.mainmenu .dropdown-menu{
	border:0 none;
	border-radius: 2px;
}
.mainmenu .menu .active {
	font-weight:bold;
}
.menu>li>a {
    font-weight: bold;

}
.mainmenu .menu li a {
		padding:5px 10px;
		margin:0;
		color:#000;
		text-decoration: none;
		-webkit-border-radius: 2px;
		   -moz-border-radius: 2px;
		        border-radius: 2px;
		box-sizing: content-box;;
	}
.navbar-toggle {
	position:relative;
	display:block;
	padding: 9px 10px;
	background: rgba(255, 255, 255, 0.2);
	background-image: none;
	border: 0 none;
	top:0px;
	-webkit-border-radius: 2px;
	   -moz-border-radius: 2px;
	        border-radius: 2px;
	outline: 0;
	opacity: 1;
	-webkit-transition: all .45s;
	   -moz-transition: all .45s;
	        transition: all .45s;
}
.navbar-toggle .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  background: #fff;
}
.navbar-toggle .icon-bar + .icon-bar {
	margin-top: 4px;
}
.open .navbar-toggle {
	top:0;
	opacity: 1;

}

.mainmenu .dropdown-menu {
	top: -14em;
	left: 0px;
	font-size: 13px;
	padding:0;
	border:0 none;
	border-radius: 2px;
	-webkit-box-shadow: none;
	box-shadow: none;
	display:block;
	opacity:0;
	-webkit-transition: all .45s;
	   -moz-transition: all .45s;
	transition: all .45s;
	position: absolute;
    float: left;

}


.mainmenu .open .dropdown-menu {
	top:2px;
	opacity:1;
	box-shadow: 0 6px 12px rgba(0,0,0,0.3);
    background-clip: padding-box;
    padding: 5px 0;
    margin: 2px 0 0;
    background-color: rgba(0,0,0,0.15)
}

.mainmenu .menu a:hover {
	background:rgba(255,255,255,.1);
	color:white;
	padding:10px 8px 10px 12px;
}
.mainmenu .gnb_menu .gnb_btn{
	position: absolute;
    right: 30px;
    top: 6px;
    width:19px;
    height:23px;
    padding:0;
}
@media screen and  (max-width: 991px){
	.mainmenu .gnb_menu .gnb_btn{
	    right: 20px;
		top:12px;
	}
	.gnb_menu ul li{
		margin-left:-10px;
		padding:10px 2%;

	}
}
@media screen and  (max-width: 768px){
	.mainmenu .gnb_menu .gnb_btn{
	    right: 14px;

	}
	.gnb_menu ul li{
		padding:10px 1.5%;
	}
}

@media screen and  (max-width: 600px){
	.mainmenu .gnb_menu .gnb_btn{
	    right: 4px;
		top: 6px;
	}
	.mainmenu .gnb_menu ul li{
		padding:3px 1%;
	}
	.mainmenu .gnb_menu  ul .bienvenu{

		width:100px;
	}
	.mainmenu .gnb_menu  ul .outil{

		width:80px;
	}
}

@media screen and  (max-width: 540px){
	.mainmenu .gnb_menu{
		height:65px;
		width:100%;
	}
	.mainmenu .gnb_menu ul li{
		text-align: justify;
		margin-left:-10px;
		padding:3px 1%;
	}

	.mainmenu .gnb_menu .gnb_btn{
		top:7px;
	    right: 7px;
	}
	/*.mainmenu .gnb_menu  ul .bienvenu,.portfolio{
	    padding: 3px 0 0 15px;
	}
	.mainmenu .gnb_menu  ul .outil,.contact{
	    padding: 3px 15px 0 0;
	}*/
}
@media screen and  (max-width: 460px){
	.mainmenu .gnb_menu ul li{
		padding:3px 40px;

	}
	.mainmenu .gnb_menu  ul .outil{
	    padding: 3px 50px;
	}

}

/********************************************************/
/*             Sections - universal classes             */
/********************************************************/
.section {
	z-index: 1;
	min-height:420px;
	width: 100%;
	overflow:auto;
	top:0;
	box-sizing: content-box;


}
#head{
	height:500px;
	padding:200px 0 140px;

}

#themes{
	height:720px;
	padding: 150px 0 180px;

}
#about{
	height:605px;
	padding: 200px 0 165px;

}
#contact{
	height:790px;
	padding: 0;

}

@media screen and  (max-width: 420px){
	#head{
		height:600px;
		padding:110px 0 130px;
	}

	#themes{
		height:735px;
		padding: 100px 0 215px;
	}
	#about{
		height:670px;
		padding: 100px 0 200px;
	}
	#contact{
		height:690px;
		padding:100px 0 0;
	}
}


/********************************************************/
/*                      Typography                      */
/********************************************************/
a { color:#fff; text-decoration: none; }
a:hover, a:active { color:#fff; text-decoration:none; }
.lead {
	font-weight:normal;
	font-size:1.5em;
	line-height:1.2em;
}
.title{
	text-transform: uppercase;
}
.title,
.subtitle {
	font-family: 'Wire One', Helvetica, Arial, sans-serif;
	font-weight:normal;
	font-size:7em;
	margin-bottom:15px;
	/*color:#FDF9F4; */
	color:#FFF;
	line-height:1em;
}
.subtitle {
	line-height:.9em;
	font-size:5.5em;
	margin-top:0;
	margin-bottom:40px;
}
.tagline {
	font-size:1.4em;
	line-height:1.3em;
	font-weight:normal;
	margin-bottom:15px;

}
.row h4{
	color:#BBB;
}
.row .list-inline>li>span{
	color:#CCC;
}
@media (max-width: 767px) {
	.lead {
		font-size:1.3em;
	}
}
@media screen and  (max-width: 420px){
	.title{
		font-size:4em;
	}
	.subtitle {
		font-size:3.5em;

	}
}

/********************************************************/
/*                   UI - Buttons                       */
/********************************************************/
.btn{
	color:#333;
	text-shadow: none;
	text-decoration: none;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border:0 none;
}
.btn:hover {
	color:#000;
}
.btn-lg {
	padding:16px 30px;
	font-size:inherit;

}

.btn-link {
	color:rgba(255,255,255,.8);
}
.btn-link:hover, .btn-link:focus, .btn-link:active {
	color:#fff
}
.btn-default {
	background: rgba(255,255,255,.5);
}
.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active {
	background: rgba(255,255,255,.8);
}
.btn-primary {
	background: rgba(255,255,255,.2);
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary:active {
	background: rgba(255,255,255,.5);
}
.btn_close{
	color:#FFF;
	text-shadow: none;
	text-decoration: none;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border:0 none;
	background-color: rgba(0,0,0,0.4)
}


/********************************************************/
/*                 UI - Thumbnails                      */
/********************************************************/
.thumbnail, .caption {
	background-color: rgba(255,255,255,.2);
	border: 0 none;
	padding:10px;
	-webkit-border-radius: 2px;
	   -moz-border-radius: 2px;
	        border-radius: 2px;
}
.thumbnail .caption {
	color: inherit;
}

@media screen and  (max-width: 420px){
	.thumbnail, .caption {
		background-color: rgba(255,255,255,.2);
		border: 0 none;
		padding:5px;
		-webkit-border-radius: 2px;
		   -moz-border-radius: 2px;
		        border-radius: 2px;
	}
}

/********************************************************/
/*                 Everything else                      */
/********************************************************/

.list-social .btn {
	font-size:1.3em;
}
.list-social .btn:hover, .list-social .btn:active, .list-social .btn:focus {
	text-decoration: none;
}


/* Social buttons in the footer */
#social {
	margin-top:50px;
	margin-bottom:50px;
}
#social .wrapper {
	width:340px;
	margin:0 auto;
}






























/***********************************************************/
/*                   Theme: text shadows                   */
/***********************************************************/
.text-shadows {
	text-shadow:0 1px 2px rgba(0,0,0,.2);
}
.text-shadows .title,
.text-shadows .subtitle,
.text-shadows .tagline {
	text-shadow:0 2px 3px rgba(0,0,0,.4);
}
.text-shadows .mainmenu .dropdown-menu a {
	text-shadow:0 2px 1px rgba(0,0,0,.2);
}
.text-shadows .mainmenu .dropdown-menu a:hover {
	text-shadow:none;
}



/***********************************************************/
/*                   Inverted theme                        */
/***********************************************************/
.theme-invert {
	color:#222;
	color:rgba(0,0,0,.8);
 }
.theme-invert a {
	color:#000;
}
.theme-invert .btn {
	color:rgba(255,255,255,.8);
}
.theme-invert .btn:hover {
	color:#fff;
}
.theme-invert .btn-link {
	color:rgba(0,0,0,.8);
}
.theme-invert .btn-link:hover, .theme-invert .btn-link:focus, .theme-invert .btn-link:active {
	color:#000
}
.theme-invert .navbar-toggle {
	background: rgba(0, 0, 0, 0.12);
}
.theme-invert .navbar-toggle .icon-bar {
  background: #333;
}
.theme-invert .mainmenu .menu a {
	color:#000;
	box-sizing: content-box;
	width: 100%;
	padding:5px 10px;
}
.theme-invert .mainmenu .menu a:hover {
	background:rgba(0,0,0,0.35);
	color:#CCC;
}
.theme-invert .mainmenu .menu a:focus {
	background-color:#222;
	color:#ddd;
}
.theme-invert .title,
.theme-invert .subtitle,
.theme-invert .tagline {
	/*color:#222222; */
	color:#FFF;
	margin-bottom:30px;
}
.theme-invert .subtitle{
	color:#ddd;
}
/*.theme-invert .tagline{
	color:#000;
}*/
@media screen and  (max-width: 768px){
	.theme-invert .mainmenu .dropdown-menu a {
		color:#000;
		box-sizing: content-box;
		width: 100%;
		padding:3px ;
	}
}
@media screen and  (max-width: 420px){
	.theme-invert .mainmenu .dropdown-menu a {

	    text-align: center;
	}
}
.theme-invert .btn-default {
	background: rgba(0,0,0,.4);
}
.theme-invert .btn-default:hover,
.theme-invert .btn-default:focus,
.theme-invert .btn-default:active,
.theme-invert .btn-default.active {
	background: rgba(0,0,0,.6);
	color:#fff;
}
.theme-invert .btn-primary {
	background: rgba(0,0,0,.2);
}
.theme-invert .btn-primary:hover,
.theme-invert .btn-primary:focus,
.theme-invert .btn-primary:active,
.theme-invert .btn-primary.active {
	background: rgba(0,0,0,.3);
	color:#fff;
}

.theme-invert .thumbnail, .caption {
	background-color: rgba(255,255,255,.8);
}
.thumbnail .caption {
	color: inherit;
}

/********************************************************/
/*                  deuxieme section                    */
/********************************************************/

.port{
	margin: 40px 0 0;
	position:relative;
}
.port .next{
	position:absolute;
	top:50%;
	right:50px;
}
.port .prev{
	position:absolute;
	top:50%;
	left:50px;
}

.slide{
	width:80%;
	height:558px;
	margin:0 auto;
	position:relative;


}
.port .slide_port{
	text-align: center;
}
.port .slide .slide_port [class^="portfolio_"]{
	width:80%;
	float:none;
	display:inline-block;
	text-align:center;
}
.port .slide .portfolio_a>.folio{
	display: block;
}
.port .slide .portfolio_a{
	/*position: relative*/
}
.port [class^="portfolio_"] img{
	width:100%;
	opacity: 0.65;
}
.port .slide .folio{
	display: none;
	position:absolute;
	top:20px;
	left:10%;
	width:80%;

}
.port .slide .thumbnail{
	margin:0 auto;
	width:80%;

}
.port .slide .caption{
	margin:0 auto;
	width:80%;
	text-align: center;
	padding:0;
}
.port .slide .caption h3{
	margin:10px 0 0;
	line-height: 170%;
}

.port .next>a, .port .prev>a{
	display: block;
    width: 40px;
    height: 40px;
}
@media screen and (max-width: 1200px){
	.slide{
		height:466px;
	}
	.port [class^="portfolio_"]{
		width: 90%;
	}
}

@media screen and (max-width: 991px){
	.slide{
		height:401px;
	}
	.port [class^="portfolio_"]{
		width: 100%;
	}
	/*.port .slide .thumbnail{*/
	/*	width:100%;*/
	/*}*/
	/*.port .slide .caption{*/
	/*	width:100%;*/
	/*}*/
	.port .next{
		right:20px;
	}
	.port .prev{
		left:20px;
	}

}

@media screen and  (max-width: 768px){
	.port{
		margin-top:50px;
	}
	.slide{
		height:450px;
	}
	.port .slide .caption h3{
		margin:10px 0 150px;
		line-height: 170%;
	}
	.port .next{
		top:31%;
	}
	.port .prev{
		top:31%;
	}
}
@media screen and  (max-width: 570px){

	.slide{
		height:330px;
		width:70%;
	}
	.slide [class^="portfolio_"]{
		width: 100%;
    	margin: 0 auto;
	}
	.slide .folio{
		width:100%;
	}
	.port .slide .caption h3{
		margin:10px 0 150px;
		line-height: 170%;
	}
	.port .slide .caption {
		display: none;
	}
	.port .slide .thumbnail {
		margin:50px auto 150px;
	}
	.port .next{
		top:40%;
	}
	.port .prev{
		top:40%;
	}
}
@media screen and  (max-width: 420px){
	.slide{
		height:auto;
		width:100%;
	}
	.port .slide .slide_port [class^="portfolio_"]{
		width: 50%;
    	margin: 0;
    	float:left;
	}
	.port .slide .thumbnail {
		margin:7px auto;
	}

	.port .next,.prev{
		display:none;
	}
	.port .slide .folio{
		display: block;
		position:static;
		width:100%;

	}
	.port .slide .portfolio_a{
		width:125px;
		height:100px;
	}
	.port [class^="portfolio_"] img{
		width:100%;

	}
}

/********************************************************/
/*                 troisieme section                    */
/********************************************************/
.row .skill{
	width:80%;
	text-align: center;
	padding:0 10%;
	margin:0 auto;
}
.row .skill .sk_li{
	display: inline-block;
	margin:10px;
	width: 125px;
	height: 125px;
	opacity: 0.7;
	position: relative;
	font-size: 0;
}
.row .skill .niveau{
	display: none;
	margin:10px;
	position: absolute;
	width: 100%;
    text-align: center;
    top: 34%;
    left: -9px;
    color: white;
    line-height: 100%;
	font-size: 18px;
	font-weight: bold;
}
.row .skill .sk_li span:first-child{
	display: inline-block;
	width: 100%;
	height: 100%;
	position: relative;
}

.row .skill .sk_li img{
	width:100%;
	position:relative;
	vertical-align:baseline;

}
/

@media screen and  (max-width: 768px){
	.row .skill{
		width:84%;
		text-align: center;
		padding:0 8%;
		margin:0 auto;
	}

	.row .skill .sk_li{
		display: inline-block;
		margin:10px;
		width: 125px;
		height: 125px;
	}
	.row .skill .sk_li img{
		width:100%;

	}
}
@media screen and  (max-width: 680px){
	.row .skill{
		width:90%;
		text-align: center;
		padding:0 5%;
		margin:0 auto;
	}

	.row .skill .sk_li{
		display: inline-block;
		margin:10px;
		width: 110px;
		height: 110px;
	}
	.row .skill .niveau{
		font-size: 16px;
	}

}
@media screen and  (max-width: 540px){
	.row .skill{
		width:90%;
		text-align: center;
		padding:0 5%;
		margin:0 auto;
	}

	.row .skill .sk_li{
		display: inline-block;
		margin:5px;
		width: 100px;
		height: 100px;
	}
	.row .skill .niveau{
		font-size: 14px;
	}

}
@media screen and  (max-width: 450px){
	.row .skill{
		width:90%;
		text-align: center;
		padding:0 5%;
		margin:0 auto;
	}

	.row .skill .sk_li{
		display: inline-block;
		margin:5px;
		width: 90px;
		height: 90px;
	}
	.row .skill .niveau{
		font-size: 13px;
	}
}








































/**/
